@page
@model WebCarRental.Pages.FilReq.Fil.Fil1Model
@{
    <h1>Отдел кадров</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Staff[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Staff[0].PositionCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Staff)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Model.Position.NameOfThePosition

                    </td>
                </tr>
            }
        </tbody>
    </table>
}